# enpm818t-team-7/.env.example
# This file should be copied to .env and filled in with your own credentials.
# Do NOT commit the .env file to Git. This has already been added in .gitignore, but be sure to double check.

DB_HOST=localhost
DB_PORT=5432
DB_NAME=enpm818t_team_7
DB_USER=your_username_here
DB_PASSWORD=your_password_here
